<ion-content [scrollY]=false style="max-height: 250px;width: 100%">
  <ion-slides pager="true" [options]="config">
    <ion-slide (click)="click(1)">
      <div class="container">
        <img src="../../assets/1100x600.png">
        <div class="top-right">top-right</div>
      </div>
    </ion-slide>
    <ion-slide (click)="click(2)">
      <div slot="container-start" class="parallax-bg"
      style="background-image: url(https://swiperjs.com/demos/images/nature-1.jpg);" data-swiper-parallax="-23%">
        <div class="slider-text-container">
          <div class="title" data-swiper-parallax="-300">Parallax Slide 1</div>
          <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
          <div class="mytext" data-swiper-parallax="-100">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <!-- Aliquam
              dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
              laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
              Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
              Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
              ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
              tincidunt ut libero. Aenean feugiat non eros quis feugiat. -->
            </p>
        </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide (click)="click(3)">
    <div class="container">
      <img src="../../assets/oil.jpg">
      <div class="centered">Centered</div>
    </div>
    </ion-slide>
    <ion-slide (click)="click(4)">
    <img src="../../assets/gold.jpg">
    </ion-slide>
    <ion-slide (click)="click(5)">
    <img src="../../assets/autobau.jpg">
    </ion-slide>
    <ion-slide (click)="click(6)">Slide 6</ion-slide>
    <ion-slide (click)="click(7)">Slide 7</ion-slide>
    <ion-slide (click)="click(8)">Slide 8</ion-slide>
    <ion-slide (click)="click(9)">Slide 9</ion-slide>
  </ion-slides>
  <ng-container>
    <span>Below slides title</span>
  </ng-container>
  <ion-grid>
  <ion-row>
    <ion-col size="2">

      <!-- Previous slide button -->
      <ion-button 
        fill="clear" 
        (click)="click(0)"
        [class.disabled]="false">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-col>


    <!-- Autoplay / stop play -->
    <ion-col size="8">
      <ion-button 
        fill="clear" 
        (click)="click(0)">
        <ion-icon slot="icon-only" name="play-outline"></ion-icon>
      </ion-button>

      <ion-button 
        fill="clear" 
        (click)="click(0)">
        <ion-icon slot="icon-only" name="stop-outline"></ion-icon>
      </ion-button>
    </ion-col>


    <!-- Next slide button -->
    <ion-col size="2">
      <ion-button
        fill="clear" 
        (click)="click(0)"
        [class.disabled]="false">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-content>

