// home.page.scss
/* // global.scss
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper'; */

.swiper{
   // padding-top: 25px;
}

/* Container holding the image and the text */
.myoverlay-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
  }

  swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
  }

  .swiper-zoom-container {
    text-align: left;
  } 

  .slider-text-container{
    position: absolute;
    top: 30px;
    left: 30px;
  }

  /* Without setting height the slides will take up the height of the slide's content */
   ion-slides {
        height: 70%;
  }

  ion-slide {}

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  ion-slide .title {
    font-weight: 300;
    font-size: 22px;
    color: #fff;
  }

  ion-slide .subtitle {
    font-size: 16px;
    color: #fff;
  }

  ion-slide .mytext {
    font-size: 12px;
    max-width: 400px;
    line-height: 1.3;
    color: #fff !important;
  }