
<!-- Header -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button *ngIf="!userData" (click)="presentLoginForm()" >
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
      <ion-button *ngIf="userData" (click)="handleLogout()" color="danger" >
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-buttons>
      <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Ende Header -->  

<!-- Content -->
<ion-content class="ion-padding">
  <!--
  <ng-container *ngIf="recomand$ | async as recomand">
  <ion-card >
    <ng-container style="display: flex; flex-wrap: nowrap;  align-items: center; width: auto; height: 200px; margin-bottom: 20px;" class="container">
      <img src="{{recomand.bild_1}}">
    </ng-container>
    <ion-card-content>
      <ion-card-title style="color: yellow;">
        {{recomand.title}}
      </ion-card-title>
      <p style="color: white;">
        {{recomand.text}}
      </p>
    </ion-card-content>
  </ion-card>
</ng-container>
-->
<!-- Markets Scroller -->
  <ng-container>
    <ion-toolbar color="white" id="markets" class="overflowingContent">
      <div style="overflow-x: scroll;width: 100%; text-align: center">
        <ion-button (click)="loadMarket('Dax')" value="Dax Market" color="primary">Dax Market</ion-button>
        <ion-button (click)="loadMarket('Dow')" value="Dow Market" color="primary">Dow</ion-button>
        <ion-button (click)="loadMarket('MDax')" value="Mdax Market" color="primary">Mdax</ion-button>
        <ion-button (click)="loadMarket('SDax')" value="Sdax Market" color="primary">SDax</ion-button>
        <ion-button (click)="loadMarket('TecDax')" value="Tecdax Market" color="primary">TecDax</ion-button>
        <ion-button (click)="loadMarket('Currencies')" value="Currencies" color="primary">Currencies</ion-button>
        <ion-button (click)="loadMarket('WorldMarket')" value="World Market" color="primary">WorldMarket</ion-button>
        <ion-button (click)="loadMarket('GermanMarket')" value="German Market" color="primary">GermanMarket</ion-button>
      </div>
    </ion-toolbar>
  </ng-container>

<!-- Market Data -->
  <ion-list>
    <ng-container *ngIf="marketData">
      <ng-container *ngFor="let item of marketData | async as data; index as i; last as isLast">
      <br> 
      <financial [item]="item" [modus]="'add'"></financial>
      <ion-item *ngIf="item.high == 0">{{"Name: " + item.name+ " No Data Available"}}</ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

  <div #display></div>  
  <div *ngIf="message != ''" id="message">{{message}}</div>
<!-- Ende Market Data -->

</ion-content>
<!-- Ende Content -->

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
<!-- Ende Footer -->