
<!-- Header -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button *ngIf="!userData else elseblock" (click)="presentLoginForm()" >
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
      <ng-template #elseblock>
        <ion-button (click)="handleLogout()" color="danger" >
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Ende Header -->  

<!-- Content -->
<ion-content class="ion-padding">
<!--
  <ng-container *ngIf="recomand$ | async as recomand">
  <ion-card >
    <ng-container style="display: flex; flex-wrap: nowrap;  align-items: center; width: auto; height: 200px; margin-bottom: 20px;" class="container">
      <img src="{{recomand.bild_1}}">
    </ng-container>
    <ion-card-content>
      <ion-card-title style="color: yellow;">
        {{recomand.title}}
      </ion-card-title>
      <p style="color: white;">
        {{recomand.text}}
      </p>
    </ion-card-content>
  </ion-card>
</ng-container>
-->
<ng-container>
<app-swiper></app-swiper>
</ng-container>

<!-- Icon end -->
<ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" color="primary" value="1">  
  <ion-segment-button value="1">
    <ion-label>Indices</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>Germany</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>World</ion-label>
  </ion-segment-button>
</ion-segment>

<!-- Markets Scroller -->
  <ng-container>
    <ion-toolbar color="white" id="markets" class="overflowingContent" *ngIf="segment > 1">
      <div style="overflow-x: scroll;width: 100%; text-align: center">
        <ng-container *ngIf="segment==2">
          <ion-button class="activated" (click)="loadMarket('Dax')" value="Dax Market" color="primary">Dax</ion-button>
          <ion-button (click)="loadMarket('MDax')" value="Mdax Market" color="primary">Mdax</ion-button>
          <ion-button (click)="loadMarket('SDax')" value="Sdax Market" color="primary">SDax</ion-button>
          <ion-button (click)="loadMarket('TecDax')" value="Tecdax Market" color="primary">TecDax</ion-button>
        </ng-container>
        <ng-container *ngIf="segment==3">
          <ion-button (click)="loadMarket('Currency')" value="Currencies" color="primary">Currencies</ion-button>
          <ion-button (click)="loadMarket('Commodity')" value="Commodities" color="primary">Commodities</ion-button>
          <ion-button (click)="loadMarket('Dow')" value="Dow Market" color="primary">Dow</ion-button>
        </ng-container>
      </div>
    </ion-toolbar>
  </ng-container>

<!-- Market Data -->

    <ng-container *ngIf="marketData">
      <ng-container *ngFor="let item of marketData | async as data; index as i; last as isLast">
      <br> 
      <ng-container *ngIf="showFinancial(item)">
        <financial [item]="item" [modus]="'add'"></financial>
      </ng-container>
      <ion-item *ngIf="item.high == 0">{{"Name: " + item.name+ " No Data Available"}}</ion-item>
      </ng-container>
    </ng-container>

  <div #display></div>  
  <div *ngIf="message != ''" id="message">{{message}}</div>
<!-- Ende Market Data -->

</ion-content>
<!-- Ende Content -->

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
<!-- Ende Footer -->