
<!-- About Page -->

<!-- Header -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Search Company    
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Ende Header -->

<!-- Content -->
<ion-content padding>
  <ion-searchbar [(ngModel)]="search" [showCancelButton]="shouldShowCancel" name="search"></ion-searchbar><br><br>

  <ng-container style="margin-left: 10px;">
    <ion-button (click)="searchSymbol(search)">Suche nach {{search}}</ion-button>
  </ng-container><br><br>

  <ng-container *ngIf="mySymbols">
    <ion-list>
      <ng-container *ngFor="let item of mySymbols | async">
        <ng-container *ngIf="item.name != ''">
          <ion-item>{{'Name: ' + item.name+ '  '}}
            <ion-button (click)="getQuote(item.symbol)" color="secondary">More Details</ion-button>
            <ion-button (click)="addToWatchlist(item.symbol, item.name)">Add to Watchlist</ion-button>
          </ion-item>
          <ion-item>{{'Symbol: ' + item.symbol}}</ion-item>
          <ion-item>{{'Börse: ' + item.exchDisp}}</ion-item>
        </ng-container>
      </ng-container>
    </ion-list>
  </ng-container>

   <ng-container *ngIf="!mySymbols" style="text-align: center; margin-top: 10%;"><!--Center the icon -->
     <ion-icon name="search" style="font-size: 300px; display: inline-block;"></ion-icon>
   </ng-container>
</ion-content>
<!-- Ende Content -->            

