  <ng-container id="stock-data" *ngIf="device==='landscape'">
    <ion-card *ngIf="item.symbol">
      <ion-grid>
        <ion-row style="background-color: lightgrey; font-size: 20px;">
          <ion-col class="ion-align-self-center" size="2">
            <ion-icon color="secondary" ios="add-circle-outline" md="add-circle-sharp" (click)="addToWatchlist(item.symbol, item.name)" *ngIf="modus === 'add'"></ion-icon>
            <ion-icon color="secondary" ios="close-circle-outline" md="close-circle-sharp" (click)="removeWatchlistItem(item.symbol)" *ngIf="modus === 'remove'"></ion-icon>
            <ion-icon color="secondary" ios="stats-chart-outline" md="stats-chart-sharp" (click)="getHistory(item.symbol, item.name)"></ion-icon>
            <ion-icon color="secondary" ios="analytics-outline" md="analytics-sharp" (click)="getChart(item)"></ion-icon>            
          </ion-col>
          <ion-col [style.color]="getStyle(item.change)" size="4">
            <span *ngIf="item.name && item.name!='' else elseblock">{{item.name | truncate:['30']}}</span>
            <ng-template #elseblock>{{item.shortName | truncate:['30']}}</ng-template>       
          </ion-col>
          <ion-col>{{"Date: " + date(item.date)}}</ion-col>
          <ion-col>{{"Last: " + item.close}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>{{"Open: "   + item.open}}</ion-col>
          <ion-col>{{"High: "   + item.high}}</ion-col>
          <ion-col>{{"Low: "    + item.low}}</ion-col>
        </ion-row> 
        <ion-row>
          <ion-col></ion-col>
          <ion-col>{{"Symbol: " + item.symbol}}</ion-col>
          <ion-col>{{"Volume: " + item.volume + " k"}}</ion-col>
          <ion-col>{{"Veränderung: " + (item.change | number:"1.2-2")}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card> 
  </ng-container>

  <ng-container *ngIf="device==='portrait'">
    <ion-list>
      <ion-item *ngIf="item.symbol">
        <ion-grid>
          <ion-row>
            <ion-col size="9" class="financial company-name">
              <span *ngIf="item.name && item.name!='' else elseblock">{{item.name | truncate:['30']}}</span>
              <ng-template #elseblock>{{item.shortName | truncate:['30']}}</ng-template>
            </ion-col>
            <ion-col size="3">
              <ion-chip [color]="getChipColor(item.change)">{{(item.changePercent | number:"1.2-2")+'%'}}</ion-chip>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-icon color="secondary" ios="add-circle-outline" md="add-circle-sharp" (click)="addToWatchlist(item.symbol, item.name)" *ngIf="modus === 'add'"></ion-icon>
              <ion-icon color="secondary" ios="close-circle-outline" md="close-circle-sharp" (click)="removeWatchlistItem(item.symbol)" *ngIf="modus === 'remove'"></ion-icon>
              <ion-icon color="secondary" ios="stats-chart-outline" md="stats-chart-sharp" (click)="getHistory(item.symbol, item.name)"></ion-icon>
              <ion-icon color="secondary" ios="analytics-outline" md="analytics-sharp" (click)="getChart(item)"></ion-icon>  
                  </ion-col>
            <ion-col size="3">
              <span>{{item.close| number:"1.2-2"}}</span>
            </ion-col>
            <ion-col size="3">
              <span  style="padding-left: 10px;">{{item.change | number:"1.2-2"}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ng-container>
