/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// global.scss
@import '~swiper/swiper-bundle.css';
@import '~@ionic/angular/css/ionic-swiper.css';

#chart path.candle.body.up{
    fill: #00AA00;
    stroke: #00AA00;
}

#chart path.candle.body.down {
    fill: #FF0000;
    stroke: #FF0000;
}

#chart {
    margin-bottom: 20px;
    margin-left: 0px;
}

#chart text {
    fill: #000;
    font-weight: 900;
    font-size: large;
  }
  
#chart button {
    position: absolute;
    right: 20px;
    top: 440px;
    display: none;
}
  
#chart path.candle.body {
    stroke-width: 0;
}

#chart path.candle {
    stroke: #000000;
}

#chart div.tooltip {	
position: absolute;			
text-align: center;			
width: auto;					
height: auto;					
padding: 2px;				
font: 12px sans-serif;		
background: rgba(0,0,0,0.8);	
  color: #fff;
border: 0px;		
border-radius: 8px;			
pointer-events: none;			
}  